<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<div id="nav"><ul>
  		<li><a href="/home">home (logged in)</a></li>
  		<li><a href="/resource">resources</a></li>
  		<li><a href="/help">help</a></li>
  		<li><a href="/share">share</a></li>
  		<li><a href="/events">events</a></li>
  		<li><a href="/">login and out</a></li>
  	</ul></div>
