{{> docopen}}

    <div class="text-right">
    	<i class="icon-user">&nbsp; &nbsp;</i>
    	My Profile
    </div>
    <div class="container">
    	<div class="row-fluid">
    	</div>
    	<div class="row-fluid">
    		<div class="span10">
    			<h1>
    				Events
    			</h1>
    			<p>
    				<i>Upcoming Events</i>
    				<br>
    			</p>
    			<div>
    				<b>
    				Celebrate Success Annual Fundraiser&nbsp;</b>
    				<div class="">
    					&nbsp;Happening each Spring, Celebrate Success is our largest event of
    					the year. Including a Fashion Show, Dinner and Auction it is an evening
    					filled with entertainment, great company and inspiration. Join the event
    					committee to get involved or sign up for our newsletter to receive an invitation!
    					<a href="http://www.celebratesuccessbenefit.org/">More Info.
    			</a>
    					<div class="">
    						<br>
    					</div>
    					<img src="https://s3.amazonaws.com/media.jetstrap.com/UYjoy0UDTmmKlfi2CRge_1314831582.jpg" class=""><div class=""><b class=""><br><br>Acey's Closet Sales</b>&nbsp;<div class="">Bi-Annual Sale that benefits Dress for Success Oregon. Amazing deals on new and gently used women's designer and sample clothing, shoes and accessories! Sign up for the Dress for Success Oregon Newsletter to stay up to date on when and where the next sale will be happening. <a href="http://www.dressforsuccessoregon.org/aceys-closet-clothing-sale.html">More info.
    					</a></div></div>
    				</div>
    			</div>
    			<div class="control-group">
    				<div class="controls">
    				</div>
    			</div>
    			<img src="https://s3.amazonaws.com/media.jetstrap.com/PKGFwSISPa2Fw4Qx7Hq3_5194552.gif" class=""><div class="control-group">
    				<div class="controls">
    					<div class="control-group">
    						<div class="controls">
    						</div>
    					</div>
    				</div>
    			</div>
    			<p>
    			</p>
    		</div>
    		<div class="span2 pull-right">
    			<p class="pull-right text-center">
    			</p>
    			<div>
    				<img src="https://s3.amazonaws.com/media.jetstrap.com/nhAPfrxEQyO5Ypdh4XF0_1369016804_Help.png" class="pull-right">
    				<br>
    				<div class="pull-right">
    					Ask A Question
    				</div>
    			</div>
    			<p>
    			</p>
    			<p class="pull-right text-center">
    				<img src="https://s3.amazonaws.com/media.jetstrap.com/l2LVXnTgTACiRDLqdidR_1369016861_user-home.png" class="pull-right">
    				Resources
    			</p>
    			<p class="pull-right text-center">
    				<img src="https://s3.amazonaws.com/media.jetstrap.com/OXfUyDVvSNKJvkZEIv3P_1369016877_plan.png" class="pull-right">
    				Calendar &amp; Events
    			</p>
    		</div>
    	</div>
    	<div class="control-group">
    		<div class="control-group">
    		</div>
    		<div class="controls">
    		</div>
    	</div>
    </div>
    <!-- /container -->
    
{{> docclose}}