{{> docopen}}

<div class="text-right">
    	<i class="icon-user">&nbsp; &nbsp;</i>
    	My Profile
    </div>
    <div class="container">
    	<div class="row-fluid">
    	</div>
    	<div class="row-fluid">
    		<div class="span10">
    			<h1>
    				Success Stories
    			</h1>
    			<p>
    				<i>Our Clients</i>
    				<br>
    			</p>
    			<div>
    				<b>
        				Temika's Story</b>
    				<div>
    					I am writing to you in the hopes that after hearing my story you will
    					be moved to support to Dress for Success Oregon, an organization that has
    					given me so much. At 15 years old I met an older man and ran away with
    					him. For four years we were homeless and I feared for my life under his
    					physical abuse. At 18 I had my son who I call my Angel, this was the day
    					I knew it was no longer just about me. One evening I was home caring for
    					my son who had a fever. His father came home drunk and on drugs and began
    					beating me – that’s when my son had a seizure due to his high temperature.
    					We were both taken by ambulance to the hospital. I will never forget the
    					look on my mother’s face when she saw me. My face and body were so badly
    					beaten I was almost unrecognizable. She took my son home with her while
    					I recovered in the hospital. I knew it was time for a change. While on
    					public assistance trying to get my life back together, I was referred to
    					Dress for Success Oregon. I would not be where I am at today without this
    					amazing organization and my mentor. I have grown professionally; become
    					a better mother and most of all a confident women I am proud of. I am now
    					a Case Manager at Partner in Careers and attend Dress for Success’ Professional
    					Women’s Group meetings every month to continue my professional skills.
    					I cannot thank the supporters of Dress for Success enough for supporting
    					the program that gave me and my son a second chance at life. Temika Beasley
    					<div>
    						<br>
    					</div>
    					<img src="https://s3.amazonaws.com/media.jetstrap.com/cvTA48tlS86MSTa83Ph5_9221361.jpg">
    					<div>
    						<b><br><br>Paula's Story</b>
    						&nbsp;
    						<div>
    							My name is Paula and I am a client of Dress for Success Oregon. I want
    							to share my story—in my own words--with you. I hope it inspires and touches
    							all hearts that it may apply to, telling it strengthens my own personal
    							journey. I won’t go into all the details of my life, but I will give you
    							a brief background of my road of self-destruction. From what I can remember
    							my childhood was okay up until the age of four, it was at that time I was
    							sexually abused by my mom’s (third) husband and his best friend. The abuse
    							would go on for years until my mom met another man who told her he hated
    							kids and that it was either him or me. At 11 years old my mom marched me
    							down to DHS and gave me away. I was put into the system and passed around
    							to various group and foster homes. Without any positive parental guidance,
    							I was out of control and on the streets of Seattle doing everything from
    							drugs to prostitution and constantly going in and out of jail. In June
    							of 2008 I got the wake-up call I needed, I was pregnant. I decided things
    							had to change. I moved to Portland to remove myself from the influences
    							and enablers of my past life and went into a long term treatment program.
    							I finally found peace with myself and was able to address the issues that
    							took me into a world of destruction. Through the Steps to Success program
    							I was referred to Dress for Success Oregon in October of 2010 to help me
    							make the transition into the workforce. Dress for Success gave me hope
    							and support, and most of all, they gave me a chance. In fact, I got one
    							of the very few internships at Dress for Success Oregon. For the last year,
    							I have worked with this incredible group of women and learned job skills
    							and professional habits-- and I have been able to show them that I am responsible
    							and ready for work. In the fall of 2011, I joined Dress for Success’s Going
    							Places Network an intense job preparation program. I learned how to look
    							for a job and address my past with potential employers. With their support,
    							I just got a job! I have grown so much here. Dress for Success Oregon gives
    							women power and control over their lives. I have never felt so good about
    							myself and who I am. Today my son and I live in our own apartment and,
    							for the first time, I feel positive about our future…I know I will never
    							go on public assistance again! I am proud to tell people that I am a part
    							of Dress for Success and everything they stand for. I am asking you to
    							make Dress for Success Oregon one of the organizations that you help this
    							year. Every day this amazing organization is helping women like me get
    							out of poverty and stand on our own. With your support they can continue
    							to grow to address the overwhelming need in Oregon and SW Washington. I
    							hope this story opens your heart because nobody can do this alone and I
    							am so very appreciative that someone took the time to help me. My life—and
    							my son’s life—are forever changed.&nbsp;
    							<div>
    								&nbsp;With gratitude, Paula L’Heureux Dress for Success Oregon Client
    								– 2010 to present
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="control-group">
    				<div class="controls">
    				</div>
    			</div>
    			<img src="https://s3.amazonaws.com/media.jetstrap.com/pkfPoSV4TditdtXDVVi9_6878339.jpg">
    			<div class="control-group">
    				<div class="controls">
    					<div class="control-group">
    						<div class="controls">
    						</div>
    					</div>
    				</div>
    			</div>
    			<p>
    			</p>
    			<div>
    				<br>
    			</div>
    			<div><b>
    				Sonja's Story&nbsp;</b><div class="jetstrap-highlighted">Sonja’s journey as a single mom started abruptly almost 4 years ago. Two weeks before Christmas, her husband was sentenced to 90 days in jail for consecutive DUI’s.  She was a stay at home mom with no income, homeschooling her two oldest children and caring for twin toddlers.  Sonja found her only alternative was to go on public assistance.  She applied for a displaced homemaker’s grant and completed certificate programs in human resources and volunteer management, and for the next 2 years she was able to obtain short term positions and develop skills in project and volunteer management in the nonprofit and public sector.
    
    After completing her Americorps position 6 months ago, Sonja found herself homeless, living on public assistance, and looking for employment.  She had to move to Salem to live with her ex-husband who is an alcoholic.  When school started, she commuted two hours a day and drove her four children from Salem to Portland so they could continue to attend the same school.  During school hours Sonja spent all day applying for any available position at the Employment Department.  Most nights she would not reach Salem until 6:30 or later and there she would find her ex-husband drinking.  When he became emotionally abusive, Sonja would tell herself that she had to endure it so that they could have a roof over their heads.
     
    The commute became exhausting and a couple of times she felt herself nodding off at the wheel. One day, another mom who sympathized with her situation, offered her day care center as a place for Sonja and the kids to stay during the week.  It was right down the street from the school.  Then she handed Sonja the keys and told her to consider the place her own until she could find another place to live.  Sonja began to feel some hope.  Soon after, the Homeless Education Case Manager with Portland Public Schools listened to her story and helped Sonja get a referral to Dress for Success Oregon.
    
    Sonja had an important interview coming up with OHSU and found a beautiful suit at Dress for Success.  She felt wonderful after working with her personal shopper, confident she could get this job.  She went to both a second and third interview, feeling self-assured and professional.  It was nearly three weeks later that she accepted the position of Project Coordinator with the Center on Self-Determination!  Since November,  Sonja has been attending the monthly Professional Women’s Group meetings, where she receives continued support and training from Dress for Success Oregon.
    
     “As a direct result of Dress for Success assisting me in preparing for my interview, I have obtained a position that will change my life and those of my four children. The position provides security, benefits, vacation time and the opportunity to advance my education.  I can stand on my own two feet and care for my family. The negative, ugly words that I have heard from my ex are now a faint whisper.”
    			</div></div>
    			<img src="https://s3.amazonaws.com/media.jetstrap.com/rZWyPAkXQyqj1cGdB60O_1312392688.jpg" class="jetstrap-selected"><div>
    				<br>
    			</div>
    		</div>
    		<div class="span2 pull-right">
    			<p class="pull-right text-center">
    			</p>
    			<div>
    				<img src="https://s3.amazonaws.com/media.jetstrap.com/nhAPfrxEQyO5Ypdh4XF0_1369016804_Help.png" class="pull-right">
    				<br>
    				<div class="pull-right">
    					Ask A Question
    				</div>
    			</div>
    			<p>
    			</p>
    			<p class="pull-right text-center">
    				<img src="https://s3.amazonaws.com/media.jetstrap.com/l2LVXnTgTACiRDLqdidR_1369016861_user-home.png" class="pull-right">
    				Resources
    			</p>
    			<p class="pull-right text-center">
    				<img src="https://s3.amazonaws.com/media.jetstrap.com/OXfUyDVvSNKJvkZEIv3P_1369016877_plan.png" class="pull-right">
    				Calendar &amp; Events
    			</p>
    		</div>
    	</div>
    	<div class="control-group">
    		<div class="control-group">
    		</div>
    		<div class="controls">
    		</div>
    	</div>
    </div>
    <!-- /container -->
    
{{> docclose}}