<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Sign Up</h1>

    <form method="post" action="/signup">
    <label for="user">User Name:</label><input type="text" name="user" />
    <label for="pass">Password:</label><input type="text" name="pass" />

    <input type="submit" name="Sign Up" />
    </form>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>