{{> adminopen}}
    <h1>{{title}}</h1>
    <p>Use this to create a client login for your Community Center. Typically, accounts will be sync'd from
      eTapestry, so please use this sparingly ... or for testing purposes only.</p>

    <form method="post" action="/admin/create">
    <input type="hidden" value="{{id}}" name="id" />
    <label for="user">Name:</label><input type="text" name="name" value="{{name}}"/>
    <label for="user">User Name:</label><input type="text" name="user" value="{{username}}"/>
    <label for="pass">Password:</label><input type="password" name="pass" />
    <label for="user">Email Address:</label><input type="text" name="email" value="{{email}}" />
    <label for="user">Phone Number:</label><input type="text" name="phone" value="{{phone}}"/>

    <input type="submit" name="Sign Up" class="btn" value="GO &raquo;"/>
    </form>

{{> docclose}}
